.navbar {
    height: 6em;
    margin-bottom: 0;
    text-align: center;
    border: 1px solid black;
}

button {
    background-color: #15ccee;
    width: 10em;
}

button:hover {
    border: 2px solid black;
}

body {
    background-color: beige;
}

.navbar-home-button {
    height: 3.5em;
    width: 3.5em;
    margin: 1em 12% 0 10%;
    float: left;
}

.navbar-home-button:hover {
    border: 2px solid black;
    border-radius: 26px;
}

.navbar-links-header {
    margin: 0 0;
    padding: 0;
    text-align: center;
}

.navbar-link-bottom {
    display: inline-block;
    margin: 1.25em 0;
    padding: 0;
    font-size: 1.25em;
}

.navbar-link-bottom:hover {
    color: white;
}

.section-master {
    border: 1px solid black;
    height: 100;
    margin-top: 0;
}

.section-categories {
    border: 1px solid black;
    margin: auto auto;
    position: static;
    height: 100%;
    text-align: center;
}

.list-categories {
    text-align: left;
    margin: 2em 1em;
}

.checbkox-categories {
    margin: 0 0;
    padding: 0;
}

.categories-header {
    margin: 0 0;
    padding: 0;
}

.add-button {
    border-radius: 5px;
    margin: 3em 25%;
    width: 50%;
}

.add-button:hover {
    color: white;
    border: 2px solid black;
}

.ticked {
    color: blue;
}

.section-itemlist {
    position: static;
    margin: auto auto;
    height: 100%;
    text-align: center;
}

.list-item {
    text-align: center;
    margin: 0 0;
    padding: 0;
}

#addItem {
    background-color: purple;
}

.input-form {
    text-align: center;
    padding: 1em;
}

#addItem:hover {
    color: white;
}

.item-list-headers {
    height: 2em;
    padding: 0;
    margin: 1em auto 1em auto;
    text-align: center;
}

.item-list-lines {
    margin: 2em 0;
    text-align: center;
}

.remove-button {
    border-radius: 5px;
    margin: 1em 35%;
    width: 30%;
}

.remove-button:hover {
    color: white;
    border: 2px solid black;
}

footer {
    height: 6em;
    margin-bottom: 0;
}

.footer-links-header {
    margin: 0 0;
    padding: 0;
    height: 6em;
    text-align: center;
}

.footer-text {
    float: left;
    margin: 2em 10% 0 5%;
}

.footer-link-top {
    display: inline-block;
    margin: 1.25em 0;
    padding: 0;
    font-size: 1.25em;
}

.footer-link-top:hover {
    color: white;
}
